
body{
    background: aliceblue;
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
    font-size: 1.5em;
    text-shadow: 4px 5px 6px #1e5bdc85;
}
h2{
    font-size: 1.5em;
    color: grey;
}
.tipText{
    font-size: em;
    color: grey;
}

.todo-panel{

    width: 50%;
    min-width: 30em;
    min-height: 20em; 
    margin-top: 5em;
    border: 1px solid #eeeeee;
   
    box-shadow: 4px 6px 6px #888888;

   
}
.todo-editor{
    padding: 5px 20px;
    display: flex;
}


.todo-editor input{
    flex-grow: 1;
    font-size: 1.2em;
    padding: 2px 5px;
}

.todo-items {
    padding: 5px 20px;
}
.todo-items-tip {
    padding: 200px 20px;
    padding-bottom: 00px;
}
.todo-items-tip .tip > input {
    width: 1.5em;
    height: 1.5em;
}
.todo-items-tip > .tip {
    display: flex;
    align-items: center;
    background-color: lavender;
    
}
.todo-items-tip .ctrlbar > button{
    font-size: 1.3em;
    border: none;
    background: none;
    color: blue;
    cursor: pointer;
}



.todo-items > .task {
    display: flex;
    align-items: center;
    background-color: lavender;
    
}
.todo-items > .task.a {
    display: flex;
    align-items: center;
    background-color: blanchedalmond;
    
}



.todo-items > .task > input{
    width: 1.5em;
    height: 1.5em;
}


.todo-items > .task > label{
    flex-grow: 1;
}

.todo-items .ctrlbar > button{
    font-size: 1.3em;
    border: none;
    background: none;
    color: blue;
    cursor: pointer;
}

.todo-items > .task.vip{
    color: red;
}


.todo-items .ctrlbar > button:disabled {
    color:grey;
    /*cursor: pointer;*/
}

.todo-items .ctrlbar > button:disabled:hover{
    font-weight: unset;
}

.todo-items .ctrlbar > button:hover{
    font-weight: bolder;
}

.task.done > label {
    text-decoration: line-through;
    color: rgb(255, 255, 255);
    background-color: grey;
}